<% @phones.each do |phone| %>
    <div>
        <h4><%= link_to phone.incoming_number, phone %></h4>
    </div>    
<% end %>

<br>

<%= button icon(name: "refresh", label: "Sync Numbers"), sync_phones_path, method: :post, data: {"spin-on-click" => true, "click-text" => "Syncing..."} %>