/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.phone-number .form {
  display: none;
}

.voicemails {
  max-height: 125px;
  overflow:scroll;
  margin-bottom: 10px;
}

.voicemail:first-child {
  border-top: 1px #ccc solid;
}

.voicemail {
  border-bottom: 1px #ccc solid;
  padding: 3px;
  cursor: pointer;
}

.voicemail small {
  color:#bbb;
}

label {
  font-weight: bold;
}